.overlay {
  background: rgba($darker-grey, 0.95);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &--transparent {
    background: transparent;
  }

  &--no-interaction {
    pointer-events: none;
  }
}
