@use 'sass:math';

$base-speed: 1s;

$speed--xx-slow: math.div(7, 8) * $base-speed;
$speed--x-slow: math.div(3, 4) * $base-speed;
$speed--slow: math.div(5, 8) * $base-speed;
$speed--medium: math.div(1, 2) * $base-speed;
$speed--fast: math.div(3, 8) * $base-speed;
$speed--x-fast: math.div(1, 4) * $base-speed;
$speed--xx-fast: math.div(1, 8) * $base-speed;
