$base-speed: 1s;

$speed--xx-slow: 7/8 * $base-speed;
$speed--x-slow: 3/4 * $base-speed;
$speed--slow: 5/8 * $base-speed;
$speed--medium: 1/2 * $base-speed;
$speed--fast: 3/8 * $base-speed;
$speed--x-fast: 1/4 * $base-speed;
$speed--xx-fast: 1/8 * $base-speed;
