{
  "presets": ["@babel/env", "@babel/typescript", ["@babel/react", {"runtime": "automatic"}]],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": false}],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining"
  ]
}
