{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    ["@babel/react", {"runtime": "automatic", "importSource": "@emotion/react"}]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": false}],
    "@emotion/babel-plugin"
  ]
}
