{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    ["@babel/react", {"runtime": "automatic", "importSource": "@emotion/react"}]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", {"legacy": true}], "@emotion/babel-plugin"]
}
