$md-surface-dark: #121212;
$md-surface-dark-e01: #1d1d1d;
$md-surface-dark-e02: #212121;
$md-surface-dark-e03: #242424;
$md-surface-dark-e04: #262626;
$md-surface-dark-e06: #2c2c2c;
$md-surface-dark-e08: #2d2d2d;
$md-surface-dark-e12: #323232;
$md-surface-dark-e16: #353535;
$md-surface-dark-e24: #373737;

$md-grey-50: #fafafa;
$md-grey-100: #f5f5f5;
$md-grey-200: #eeeeee;
$md-grey-300: #e0e0e0;
$md-grey-400: #bdbdbd;
$md-grey-500: #9e9e9e;
$md-grey-600: #757575;
$md-grey-700: #616161;
$md-grey-800: #424242;
$md-grey-900: #212121;

$md-text-primary-dark: rgba(255, 255, 255, 0.87);
$md-text-secondary-dark: rgba(255, 255, 255, 0.6);
$md-text-disabled-dark: rgba(255, 255, 255, 0.38);
$md-text-dividers-dark: rgba(255, 255, 255, 0.12);
