@use '../tools/themes';

.badge {
  @include themes.theme('background', 'sidebar-filter--count--background');
  border-radius: 100px;
  @include themes.theme('color', 'sidebar-filter--count--foreground');
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  padding: 2px 5px;
  transition: background 0.25s;
  vertical-align: middle;
}
