@use 'sass:math';

@use '../tools/variables';

.mediainfo {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &__toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding-bottom: math.div(variables.$spacing-unit * 2, 5);
    position: relative;

    .tooltip__wrapper {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }

  &__copy-button {
    &.tooltip {
      &__wrapper {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .icon {
      fill: currentColor;
      height: 16px;
      width: 16px;
    }
  }

  &__output {
    flex: 1 1 auto;
    width: max-content;
  }
}
