.application {
  &__sidebar {
    @include theme('background', 'sidebar--background');
    @include theme('box-shadow', 'sidebar--border');
    @include theme('color', 'sidebar--foreground');
    flex: 1;
    min-width: 240px;
    max-width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: overlay;
    position: relative;
    z-index: 2;
    transition: transform 0.2s;

    @media (max-width: 720px) {
      transform: translateX(-120px);
    }
  }
}

.sidebar {
  &__icon-button {
    @include theme('color', 'sidebar--icon-button--foreground');
    display: block;
    font-size: 0.8em;
    line-height: 1;
    padding: $spacing-unit * 2/5;
    position: relative;
    transition: color 0.25s;

    &:hover {
      @include theme('color', 'sidebar--icon-button--foreground--hover');

      .icon {
        @include theme('fill', 'sidebar--icon-button--fill--hover');
      }
    }

    &--interactive {
      cursor: pointer;
    }

    .icon {
      @include theme('fill', 'sidebar--icon-button--fill');
      height: 13px;
      transition: fill 0.25s;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 13px;
    }
  }

  &__action {
    &--last {
      margin-left: auto;
    }
  }

  &__actions {
    display: flex;
    padding: $spacing-unit * 1/5;
    justify-content: flex-start;
  }

  &__diskusage {
    .progress-bar__icon {
      display: none;
    }
    .progress-bar__fill__wrapper {
      @include theme('background', 'sidebar-filter--foreground--fill');
    }
    .progress-bar__fill {
      @include theme('background', 'sidebar-filter--foreground');
    }
  }
}

.diskuage__size-avail {
  margin-left: 1em;
}

.diskusage__text-row {
  display: flex;
  justify-content: space-between;
}

.diskusage {
  &__details-list {
    display: flex;

    &__item {
      & + .diskusage__details-list__item {
        margin-left: 10px;
      }
    }

    &__label {
      color: $dark-grey;
      display: block;
      font-size: 0.9em;
      font-weight: 600;
    }
  }
}

.dropdown {
  &--speed-limits {
    .dropdown {
      &__content {
        min-width: 180px;

        .sidebar {
          &__icon-button {
            padding: $spacing-unit * 2/5;

            .icon {
              margin-right: $spacing-unit * 1/5;
            }
          }
        }
      }

      &__items {
        font-size: 0.9em;
      }
    }
  }
}
