$sidebar--foreground: #526780;
$sidebar--border: rgba(darken($sidebar--foreground, 40%), 0.3);

$sidebar-filter--foreground: $sidebar--foreground;
$sidebar-filter--foreground--header: rgba($sidebar-filter--foreground, 0.5);
$sidebar-filter--foreground--active: $blue;
$sidebar-filter--foreground--hover: lighten($sidebar-filter--foreground, 15%);

$sidebar--icon-button--fill: $sidebar--foreground;
$sidebar--icon-button--fill--hover: $blue;
$sidebar--icon-button--foreground: rgba($sidebar--foreground, 0.7);
$sidebar--icon-button--foreground--hover: $blue;

.application {

  &__sidebar {
    background: $sidebar--background;
    box-shadow: 1px 0 $sidebar--border;
    color: $sidebar--foreground;
    flex: 1;
    min-width: 200px;
    max-width: 240px;
    overflow: auto;
    position: relative;
    z-index: 2;
  }
}

.sidebar {

  &__icon-button {
    color: $sidebar--icon-button--foreground;
    display: block;
    font-size: 0.8em;
    line-height: 1;
    padding: $spacing-unit * 2/5;
    position: relative;
    transition: color 0.25s;

    &:hover {
      color: $sidebar--icon-button--foreground--hover;

      .icon {
        fill: $sidebar--icon-button--fill--hover;
      }
    }

    &--interactive {
      cursor: pointer;
    }

    .icon {
      fill: $sidebar--icon-button--fill;
      height: 13px;
      transition: fill 0.25s;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 13px;
    }
  }

  &__action {

    &--last {
      margin-left: auto;
    }
  }

  &__actions {
    display: flex;
    padding: $spacing-unit * 1/5;
    justify-content: flex-start;
  }
}

.dropdown {

  &--speed-limits {

    .dropdown {

      &__content {
        min-width: 180px;

        .sidebar {

          &__icon-button {
            padding: $spacing-unit * 2/5;

            .icon {
              margin-right: $spacing-unit * 1/5;
            }
          }
        }
      }

      &__items {
        font-size: 0.9em;
      }
    }
  }
}
