@use '../tools/colors';

$transfer-data--download: colors.$green;
$transfer-data--upload: colors.$blue;

.transfer-data {
  &--download {
    color: $transfer-data--download;

    .icon {
      fill: $transfer-data--download;
    }
  }

  &--upload {
    color: $transfer-data--upload;

    .icon {
      fill: $transfer-data--upload;
    }
  }
}
