doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    body
        block content
        script(src='/scripts/app.js')
        script#__bs_script__.
            document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.2.5.3.js'><\/script>".replace("HOST", location.hostname));
