doctype html
html
  head
    title= title
    link(rel="apple-touch-icon", sizes="180x180", href="./apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicon-16x16.png")
    link(rel="manifest", href="./manifest.json")
    link(rel="mask-icon", href="./safari-pinned-tab.svg", color="#0e2337")
    meta(name="theme-color", content="#ffffff")
    link(rel='stylesheet' href='./style.css')
    script.
      window.floodConfig = {baseURI: '!{baseURI}', maxHistoryStates: !{maxHistoryStates}, pollInterval: !{pollInterval}};
  body
    block content
    script(src='./app.js')
