@import url('http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400');

body {
  color: $foreground;
  font-family: $font;
}

.unit {
  font-style: normal;
  margin-left: 0.3em;
  opacity: 0.8;
}
