.action-bar {
  color: $action-bar--foreground;
  display: flex;
  flex: 1;

  &__item {
    flex: 1;

    &--first {
      text-align: left;
    }

    &--last {
      text-align: right;
    }

  }

}

.actions {
  font-size: 0;
  list-style: none;
}

.action {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  position: relative;
  width: 60px;
  text-align: center;
  transition: background 0.25s;

  &:hover {
    background: $action--background--hover;
  }

  &__label {
    display: block;
    position: absolute;
    top: 100%;
    visibility: hidden;
  }

  .icon {
    fill: $action--foreground;
    height: 30px;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: fill 0.25s;
    transform: translateX(-50%) translateY(-50%);
    width: 30px;
  }

}
