.client-stats {
  padding: 30px 20px;

  .speed,
  .transferred {
    display: block;
    font-size: 1.25em;
    line-height: 1.2;
  }

  .speed {
    color: $client-stats--primary;
  }

  .transferred {
    color: $client-stats--secondary;
  }

}

.client-stat {

  & + .client-stat {
    margin-top: 20px;
  }

}
