.filter-bar {
  color: $filter-bar--foreground;
}

.filter-bar {

  &__item {

    &--search {

      .textbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        background: $search-torrents--background;
        color: $search-torrents--foreground;
        display: block;
        font-size: 1.1em;
        outline: none;
        padding: 15px 30px;
        width: 100%;

        &::placeholder {
          color: $search-torrents--placeholder;
          font-style: italic;
        }

      }

    }

  }

}
