.torrent {
    transition: background 0.25s;

    &:hover {
        background: rgba(#fff, 0.05);
    }

}

.torrent {

    &__header,
    &__details {
        display: flex;
        flex-flow: row wrap;
    }

    &,
    &__header {
        padding: 10px 20px;
    }

    &__header {
        background: $torrent--header--background;
        border-bottom: 1px solid $torrent--header--border;
        border-top: 1px solid $torrent--header--border;
        color: $torrent--header--foreground;
        display: flex;
        font-size: 0.5em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    &__details {
        margin-bottom: 4px;
    }

}

.torrent {

    &__detail--list,
    &__list {
        list-style: none;
    }

    &__detail {

        &--primary,
        &--secondary {
            flex: 1;
        }

        &--primary {

            .torrent & {
                color: $torrent--primary--foreground;
                font-size: 1.1em;
            }

        }

        &--secondary {
            display: flex;
            font-size: 0.85em;

            &--sub {
                flex: 1;
            }

            .unit {
                font-size: 0.7em;
                margin-left: 0;
                vertical-align: middle;
            }

        }

        label {
            display: block;
        }

    }

}

.progress-bar {
    background: $progress-bar--background;
    border-radius: 20px;
    height: 5px;
    overflow: hidden;

    &__fill {
        background: $progress-bar--fill;
        height: 100%;
    }

}
