Source: flood
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: replace with your name <to-be-determined@tbd>
Testsuite: autopkgtest-pkg-nodejs
Build-Depends:
 debhelper-compat (= 11)
 , nodejs (>= 16)
 , pkg-js-tools (>= 0.8.10)
Standards-Version: 4.9.3
Homepage: https://github.com/jesec/flood#readme
Vcs-Git: https://salsa.debian.org/js-team/flood.git
Vcs-Browser: https://salsa.debian.org/js-team/flood

Package: flood
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs (>= 16)
Recommends: mediainfo
Description: modern web user interface for various torrent clients
 Flood is a modern web user interface for various torrent clients
 with a Node.js backend and React frontend.
 .
 Flood uses a command line interface for configuration. Run Flood
 with --help argument for more details.
