.badge {
  background: $status-filter--count--background;
  border-radius: 100px;
  color: $status-filter--count--foreground;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 800;
  line-height: 1;
  margin-left: 10px;
  padding: 1px 5px;
  transition: background 0.25s;
  vertical-align: baseline;
}
