$directory-tree--filename--foreground: #527893;
$directory-tree--directory--foreground: $directory-tree--filename--foreground;
$directory-tree--directory--foreground--open: #719bb7;

$directory-tree--icon--file: #344b5b;
$directory-tree--icon--folder: rgba(#527893, 0.4);
$directory-tree--icon--folder--active: rgba(#82aac5, 0.5);
$directory-tree--icon--folder--open: rgba(#82aac5, 0.5);

$directory-tree--file-details--foreground: #2b4456;
$directory-tree--file-details--hover--foreground: #527893;

$torrent-details--directory-tree--file--hover--background: rgba(#1a2d3c, 0.8);
$torrent-details--directory-tree--file--hover--foreground: #79a7c7;
$torrent-details--directory-tree--file--hover--border: #1f3647;

$torrent-details--directory-tree--parent-directory--foreground: #3a5c74;
$torrent-details--directory-tree--parent-directory--icon--fill: rgba(#3a5c74, 0.5);

.directory-tree {

  .icon {
    display: inline-block;
    fill: $directory-tree--icon--folder;
    height: 14px;
    margin-right: 6px;
    width: 14px;
  }

  &__node {
    color: $directory-tree--filename--foreground;
    line-height: 1.75;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    &--group {
      padding-left: 10px;
      position: relative;

      &:after {
        background: rgba(#527893, 0.1);
        content: '';
        height: 100%;
        left: 5px;
        position: absolute;
        top: -5px;
        width: 2px;
      }
    }

    &--directory {
      color: $directory-tree--directory--foreground;
      cursor: pointer;
      transition: color 0.125s;

      &.is-expanded {
        color: $directory-tree--directory--foreground--open;
        font-weight: 500;

        .icon {
          fill: $directory-tree--icon--folder--active;
        }
      }

      .icon {
        fill: $directory-tree--icon--folder;
      }
    }

    .file {
      align-items: center;
      display: flex;
      line-height: 1.4;
      margin-left: -9px;
      padding: 2px 0 2px 9px;
      transition: background 0.25s, box-shadow 0.25s, color 0.25s;
      width: 100%;

      &:hover {
        background: $torrent-details--directory-tree--file--hover--background;
        box-shadow:
          0 1px 0 $torrent-details--directory-tree--file--hover--border,
          0 -1px 0 $torrent-details--directory-tree--file--hover--border;
        color: $torrent-details--directory-tree--file--hover--foreground;

        .file {

          &__detail {

            &--size,
            &--priority {
              color: $directory-tree--file-details--hover--foreground;
            }
          }
        }
      }

      .icon {
        fill: $directory-tree--icon--file;
        margin-top: -3px;
        vertical-align: middle;
      }

      &__detail {
        flex: 1 1 auto;
        overflow: hidden;
        padding-right: $spacing-unit * 1/4;
        text-overflow: ellipsis;

        &--size,
        &--priority {
          color: $directory-tree--file-details--foreground;
          flex: 0 0 auto;
          font-size: 0.95em;
          text-align: right;
          transition: color 0.25s;
        }

        &--priority {

          .icon {
            height: auto;
            margin-right: 0;
            width: 16px;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &--file-list {
      margin-bottom: 3px;
    }
  }

  &__parent-directory {
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {
      fill: $torrent-details--directory-tree--parent-directory--icon--fill;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  &__tree {

    .directory-tree__tree {
      padding-left: 6px;
    }
  }
}
