.directory-tree {

  .icon {
    display: inline-block;
    height: 14px;
    margin-right: 6px;
    margin-top: -3px;
    vertical-align: middle;
    width: 14px;
  }

  &__node {
    margin-left: -0px;
    margin-right: -0px;
    padding: 1px 0 1px 8px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    &--group {
      margin-left: 0;
      padding-left: 12px;
      position: relative;

      &:after {
        content: '';
        height: 100%;
        left: 10px;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }

    &--directory {
      cursor: pointer;
    }

    .file {
      align-items: center;
      display: flex;
      width: auto;

      .icon {
        margin-top: -3px;
        vertical-align: middle;
        transition: fill 0.25s;
      }

      &__detail {
        flex: 1 1 auto;
        overflow: hidden;
        padding-right: $spacing-unit * 1/4;
        text-overflow: ellipsis;

        &--size,
        &--priority {
          flex: 0 0 auto;
          font-size: 0.7rem;
          text-align: right;
          transition: color 0.25s;
        }

        &--priority {

          .icon {
            height: auto;
            margin-right: 0;
            width: 16px;
          }
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    &--file-list {
      margin-bottom: 3px;
      padding-left: 0;
    }
  }

  & > .directory-tree {

    &__tree {

      & > .directory-tree {

        &__node {
          padding-left: 0;
        }
      }
    }
  }

  &__parent-directory {
    margin-left: -1px;
    overflow: hidden;
    text-overflow: ellipsis;

    .icon {
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  &__tree {

    .directory-tree__tree {
      padding-left: 0;
    }
  }
}
