.directory-tree {

  .icon {
    display: inline-block;
    fill: $directory-tree--icon--folder;
    height: 14px;
    margin-right: 6px;
    width: 14px;
  }

  &__node {
    color: $directory-tree--filename--foreground;
    line-height: 1.75;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    &--group {
      padding-left: 10px;
      position: relative;

      &:after {
        background: rgba(#527893, 0.1);
        content: '';
        height: 100%;
        left: 5px;
        position: absolute;
        top: -5px;
        width: 2px;
      }
    }

    &--directory {
      color: $directory-tree--directory--foreground;
      cursor: pointer;
      transition: color 0.125s;

      &.is-expanded {
        color: $directory-tree--directory--foreground--open;
        font-weight: 500;

        .icon {
          fill: $directory-tree--icon--folder--active;
        }
      }

      .icon {
        fill: $directory-tree--icon--folder;
      }
    }

    .file {
      display: flex;
      line-height: 1.7;
      width: 100%;

      &:hover {

        .file {

          &__size,
          &__priority {
            color: $directory-tree--file-details--hover--foreground;
          }
        }
      }

      .icon {
        fill: $directory-tree--icon--file;
      }

      &__name {
        flex: 1 1 auto;
      }

      &__size,
      &__priority {
        color: $directory-tree--file-details--foreground;
        flex: 0 0 auto;
        font-size: 0.95em;
        text-align: right;
        transition: color 0.25s;
      }

      &__size {
        padding-right: $spacing-unit * 1/4;
      }
    }

    &--file-list {
      margin-bottom: 3px;
    }
  }

  &__parent-directory {
    color: $torrent-details--directory-tree--parent-directory--foreground;
    font-size: 1.125em;

    .icon {
      fill: $torrent-details--directory-tree--parent-directory--icon--fill;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  &__tree {

    .directory-tree__tree {
      padding-left: 6px;
    }
  }
}
