$dropdown--background: $menu--background;
$dropdown--container--border: $menu--container--border;
$dropdown--container--shadow: $menu--container--shadow;
$dropdown--label: $menu--label;
$dropdown--value: $menu--value;
$dropdown--value--active: $menu--value--active;
$dropdown--header--border: $menu--header--border;
$dropdown--item--foreground: $menu--item--foreground;
$dropdown--item--background--hover: $menu--item--background--hover;
$dropdown--item--foreground--hover: $menu--item--foreground--hover;
$dropdown--item--foreground--active: $menu--item--foreground--active;

.dropdown {
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 2;

  &__button,
  &__trigger {
    cursor: pointer;
  }

  &__button {
    display: block;
    padding: 12px 15px 7px 15px;
    text-align: left;
    width: auto;
    word-wrap: none;
  }

  &__content {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &.is-expanded {

    .dropdown {

      &__header {

        .dropdown {

          &__value {
            color: $dropdown--value--active;
          }
        }
      }
    }
  }

  &__label {
    color: $dropdown--label;
    display: block;
    font-size: 0.65em;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 0.9em;
    text-transform: uppercase;

    .dropdown__button & {
      cursor: pointer;
    }
  }

  &__value {
    color: $dropdown--value;
    transition: color 0.25s;

    &:after {
      border-top: 5px solid $dropdown--value;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      content: '';
      display: inline-block;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  &__header {
    position: relative;

    &:after {
      background: $dropdown--header--border;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 5%;
      position: absolute;
      width: 90%;
    }
  }

  &__items {
    display: flex;
    padding: 10px 0;
  }

  &__list {
    flex: 1;
  }

  &--align-right & {
    left: auto;
    right: 0;
  }
}

.dropdown {

  &__content {

    &-enter {
      animation: fade-in 0.25s both;
    }

    &-leave {
      animation: fade-out 0.25s both;
    }
  }
}

.dropdown {

  &__content {

    &__container {
      padding: 25px 30px;
    }
  }
}
