.menu {
  background: $dropdown--background;
  border-radius: 3px;
  box-shadow:
    0 0 0 1px $dropdown--container--border,
    0 0 35px $dropdown--container--shadow;
  color: $dropdown--foreground;
  text-align: left;

  &__item {
    padding: 5px 15px;

    &.is-selectable {
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      transition: background 0.25s, color 0.25s;

      &:hover {
        background: $dropdown--item--background--hover;
        color: $dropdown--item--foreground--hover;
      }

      &.is-selected {
        color: $dropdown--item--foreground--active;
      }
    }
  }
}
