.priority-meter {
  height: 8px;
  position: relative;
  width: 17px;

  &__wrapper {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
  }

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    height: 2px;
    left: 0;
    top: 3px;
    transition: background 0.25s;
    width: 100%;
  }

  &:after {
    height: 100%;
    top: 0;
    transition: background 0.25s, left 0.25s;
    width: 2px;
  }

  &--level-0 {

    &:before {
      background: $priority-meter--track--level-0--background;
    }

    &:after {
      left: 0;
      background: $priority-meter--bar--level-0--background;
    }
  }

  &--level-1 {

    &:before {
      background: $priority-meter--track--level-1--background;
    }

    &:after {
      left: 8px;
      background: $priority-meter--bar--level-1--background;
    }
  }

  &--level-2 {

    &:before {
      background: $priority-meter--track--level-2--background;
    }

    &:after {
      background: $priority-meter--bar--level-2--background;
      left: 15px;
    }
  }
}
