$sidebar--foreground: #53718a;
$sidebar--border: rgba(darken($sidebar--foreground, 40%), 0.3);

$sidebar-filter--foreground: $sidebar--foreground;
$sidebar-filter--foreground--header: rgba($sidebar-filter--foreground, 0.5);
$sidebar-filter--foreground--active: $blue;
$sidebar-filter--foreground--hover: lighten($sidebar-filter--foreground, 15%);

.application {

  &__sidebar {
    box-shadow: 1px 0 $sidebar--border;
    color: $sidebar--foreground;
    flex: 1;
    min-width: 200px;
    max-width: 240px;
    overflow: auto;
    position: relative;
    z-index: 2;
  }
}

.sidebar {

  &__item {

    &--speed-limit {
      padding-left: 5px;
      padding-top: 5px;

      .dropdown {

        &__content {
          min-width: 180px;
        }

        &__items {
          font-size: 0.9em;
        }
      }
    }
  }
}
