.application {

  &__panel {

    &--torrent-details {
      background: $torrent-details--background;
    }
  }
}

.torrent-details {
  background: $torrent-details--background;
  bottom: 0;
  box-shadow: -1px 0 0 $torrent-details--border;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  left: 0;
  min-width: 400px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s;
  z-index: 2;

  &__heading {
    box-shadow: 0 1px 0 rgba(#040d13, 0.3);
    flex: 0 0 auto;

    .torrent {

      &__details {

        &--name {
          color: #97bbd5;
          font-size: 1.7em;
          font-weight: 300;
        }

        &--tertiary {
          color: #7b9cb4;
          font-size: 1em;
        }

        &--download,
        &--upload,
        &--eta,
        &--ratio {

          .icon {
            height: 12px;
            width: 12px;
          }
        }

        &--eta {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .progress-bar {

      &:after {
        background: #2a3e4c;
      }
    }
  }

  &__table {
    color: $torrent-details--table--foreground;
    width: 100%;

    &__heading {
      color: $torrent-details--table--header;
      font-size: 0.7em;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      th {
        font-weight: 500;
      }

      &__count {
        color: $torrent-details--table--header--count;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__heading,
  &__content,
  &__navigation {
    padding: $spacing-unit * 1/2 $spacing-unit;
  }

  &__content {
    flex: 1;
    overflow: auto;

    &__wrapper {
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }

  &__navigation {
    box-shadow: 1px 0 0 rgba(#040d13, 0.5);
    background: rgba(#0c1b26, 0.5);
    padding-left: 0;
    padding-right: 0;

    .navigation {

      &__item {
        cursor: pointer;
        padding: $spacing-unit * 1/4 $spacing-unit;
        text-align: right;
        transition: background 0.25s, box-shadow 0.25s, color 0.25s;

        &.is-active {
          background: rgba(#349cf4, 0.07);
          box-shadow:
            1px 0 0 #349cf4;
          color: #349cf4;
        }
      }
    }
  }
}

.torrent-details-enter {
  opacity: 0;
}

.torrent-details-enter-active {
  opacity: 1;
}

.torrent-details-leave {
  opacity: 0;
  transition: opacity 0.5s;
}
