$torrent-details--header--name--foreground: #5b6d7c;
$torrent-details--header--tertiary--foreground: #7b9cb4;

$torrent-details--content--background: rgba(desaturate(#0c1b26, 15%), 0.4);

$torrent-details--table--foreground: #527893;
$torrent-details--table--header: rgba(#527893, 0.5);
$torrent-details--table--header--count--background: rgba(#527893, 0.2);
$torrent-details--table--header--count--foreground: #527893;

$torrent-details--header--icon--default--fill: rgba(#4d6f87, 0.5);

$torrent-details--detail--label--foreground: #527893;

$directory-tree--foreground: #527893;
$directory-tree--directory--foreground: #527893;
$directory-tree--directory--foreground--open: darken($directory-tree--directory--foreground, 5%);

$directory-tree--icon--file: rgba(#527893, 0.4);
$directory-tree--icon--folder: rgba(#527893, 0.4);
$directory-tree--icon--folder--active: $directory-tree--icon--folder;
$directory-tree--icon--folder--open: rgba(darken(#527893, 10%), 0.4);

$directory-tree--file-details--foreground: rgba(#527893, 0.7);
$directory-tree--file-details--hover--foreground: rgba(#527893, 0.8);

$torrent-details--directory-tree--file--hover--background: rgba($blue, 0.1);
$torrent-details--directory-tree--file--hover--foreground: $blue;
$torrent-details--directory-tree--file--hover--border: rgba($blue, 0.5);

$torrent-details--directory-tree--parent-directory--foreground: rgba(#527893, 0.6);
$torrent-details--directory-tree--parent-directory--icon--fill: rgba(#527893, 0.5);

.torrent-details {

  &__heading {
    color: $torrent-details--header--name--foreground;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: $spacing-unit * 2/5;
  }

  &__sub-heading {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    margin-bottom: $spacing-unit * 1/5;

    &__secondary {
      color: $torrent-details--header--tertiary--foreground;
      display: flex;
      font-size: 0.85rem;
      flex: 1 0 auto;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    &__tertiary {
      flex: 0 0 auto;
      margin-right: 1em;

      .icon {
        fill: $torrent-details--header--icon--default--fill;
        height: 12px;
        margin-right: 3px;
        margin-top: -3px;
        vertical-align: middle;
        width: 12px;
      }

      .priority-meter {
        display: inline-block;
        margin-top: -1px;
        margin-right: 6px;
        vertical-align: middle;

        &__wrapper {
          margin-top: -3px;
          padding: 0;
        }
      }

      &--download {
        color: $blue;

        .icon {
          fill: $blue;
        }
      }

      &--upload {
        color: $green;

        .icon {
          fill: $green;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__action {
    cursor: pointer;
    transition: color 0.25s;

    .icon {
      transition: fill 0.25s;
    }

    &.is-active {
      color: $blue;

      .icon {
        fill: $blue;
      }
    }
  }

  &__table {
    color: $torrent-details--table--foreground;
    width: 100%;

    &__heading {

      &--primary {
        color: $torrent-details--directory-tree--parent-directory--foreground;
        font-size: 1.125em;
      }

      &--secondary {
        color: $torrent-details--table--header;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
  }

  &__section {
    font-size: 0.8rem;

    &__heading,
    &__null-data {
      color: $torrent-details--directory-tree--parent-directory--foreground;
      font-size: 1.15em;
      margin-bottom: $spacing-unit * 1/10;
    }

    &--file-tree {
      margin-left: -8px;

      .directory-tree {

        &__node {
          color: $directory-tree--foreground;

          &--group {

            &:after {
              background: rgba(#527893, 0.1);
            }
          }

          &--directory {
            color: $directory-tree--directory--foreground;

            &.is-expanded {
              color: $directory-tree--directory--foreground--open;
              font-weight: 500;

              .icon {
                fill: $directory-tree--icon--folder--open;
              }
            }

            .icon {
              fill: $directory-tree--icon--folder;
            }
          }

          .file {
            width: auto;

            &__detail {

              &--size,
              &--priority {
                color: $directory-tree--file-details--foreground;
              }
            }

            .icon {
              fill: $directory-tree--icon--file;
            }
          }
        }

        &__selectable {
          position: relative;
          transition: background 0.25s, border 0.25s, color 0.25s;

          &:after {
            background: rgba($blue, 0);
            bottom: 0;
            content: '';
            height: auto;
            left: -2px;
            position: absolute;
            top: 0;
            transition: background 0.25s;
            width: 2px;
          }

          &:hover {
            background: $torrent-details--directory-tree--file--hover--background;
            color: $torrent-details--directory-tree--file--hover--foreground;

            &:after {
              background: rgba($blue, 1);
            }

            .file {

              &__detail {

                &--size,
                &--priority {
                  color: $directory-tree--file-details--hover--foreground;
                }
              }
            }

            .icon {
              fill: $torrent-details--directory-tree--file--hover--foreground;
            }

          }
        }

        &__parent-directory {
          color: $torrent-details--directory-tree--parent-directory--foreground;

          .icon {
            fill: $torrent-details--directory-tree--parent-directory--icon--fill;
          }
        }
      }

      .icon {
        fill: $directory-tree--icon--file;
      }
    }

    .badge {
      background: $torrent-details--table--header--count--background;
      color: $torrent-details--table--header--count--foreground;
    }
  }

  &__detail {

    &__label {
      color: $torrent-details--detail--label--foreground;
      font-weight: 500;
      margin-right: $spacing-unit * 3/5;
    }
  }
}
