.application {

  &__panel {

    &--torrent-details {
      background: $torrent-details--background;
    }
  }
}

.torrent-details {
  background: $torrent-details--background;
  bottom: 0;
  box-shadow: -1px 0 0 $torrent-details--border;
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  left: 0;
  min-width: 400px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s;
  z-index: 2;

  &__wrapper {
    flex: 1;
    height: 100%;
  }

  &__scroll-container {
    height: auto !important;
  }

  &__header {
    box-shadow: 0 1px 0 $torrent-details--header--border;
    flex: 0 0 auto;
    padding: $spacing-unit * 1/2 $spacing-unit $spacing-unit * 2/3 $spacing-unit;

    &.has-error {

      .progress-bar {

        &__fill {
          background: $torrent-details--header--progress-bar--fill--error;
        }
      }
    }

    &.is-stopped {

      .progress-bar {

        &__fill {
          background: #7b9cb4;
        }
      }
    }

    .progress-bar {

      &:after {
        background: $torrent-details--header--progress-bar--track;
      }
    }
  }

  &__action {
    cursor: pointer;
    transition: color 0.25s;

    .icon {
      transition: fill 0.25s;
    }

    &.is-active {
      color: $blue;

      .icon {
        fill: $blue;
      }
    }
  }

  &__table {
    color: $torrent-details--table--foreground;
    width: 100%;

    &__heading {

      &--primary {
        color: $torrent-details--directory-tree--parent-directory--foreground;
        font-size: 1.125em;
      }

      &--secondary {
        color: $torrent-details--table--header;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: $spacing-unit * 2/3 $spacing-unit;

    &__wrapper {
      background: $torrent-details--content--background;
      display: flex;
      flex: 1;
      overflow: hidden;
    }
  }

  &__navigation {
    background: $torrent-details--navigation--background;
    box-shadow: 1px 0 0 $torrent-details--navigation--border;
    min-width: 125px;
    padding: $spacing-unit * 1/2 0;

    .navigation {

      &__item {
        cursor: pointer;
        padding: $spacing-unit * 1/4 $spacing-unit;
        text-align: right;
        transition: background 0.25s, box-shadow 0.25s, color 0.25s;

        &.is-active {
          background: $torrent-details--navigation--item--background--active;
          box-shadow: 1px 0 0 $torrent-details--navigation--item--border--active;
          color: $torrent-details--navigation--item--foreground--active;
        }
      }
    }
  }

  &__section {

    &__heading,
    &__null-data {
      color: $torrent-details--directory-tree--parent-directory--foreground;
      font-size: 1.15em;
      margin-bottom: $spacing-unit * 1/10;
    }

    &__heading {

      .badge {
        background: $torrent-details--table--header--count--background;
        color: $torrent-details--table--header--count--foreground;
      }
    }
  }
}

.torrent-details {

  &__heading {
    color: $torrent-details--header--name--foreground;
    font-size: 1.7em;
    font-weight: 300;
  }

  &__sub-heading {
    display: flex;
    margin-bottom: $spacing-unit * 1/4;

    &__secondary {
      color: $torrent-details--header--tertiary--foreground;
      display: flex;
      flex: 1 0 auto;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }

    &__tertiary {
      flex: 0 0 auto;
      margin-right: 1em;

      .icon {
        fill: $torrent-details--header--icon--default--fill;
        height: 12px;
        margin-right: 3px;
        margin-top: -3px;
        vertical-align: middle;
        width: 12px;
      }

      .priority-meter {
        display: inline-block;
        margin-top: -1px;
        margin-right: 6px;
        vertical-align: middle;

        &__wrapper {
          margin-top: -3px;
          padding: 0;
        }
      }

      &--download {
        color: $blue;

        .icon {
          fill: $blue;
        }
      }

      &--upload {
        color: $green;

        .icon {
          fill: $green;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.torrent-details-enter {
  opacity: 0;
}

.torrent-details-enter-active {
  opacity: 1;
}

.torrent-details-leave {
  opacity: 0;
  transition: opacity 0.5s;
}
