$blue: #258de5;
$green: #39ce83;
$white: #fff;

$background: #1a2f3d;
$foreground: #53718a;

$main-content--background: #e9eef2;

$header--foreground: #313436;

// form elements
$form--label--foreground: #abbac7;

$textbox--background: #e9eff5;
$textbox--foreground: #53718a;
$textbox--placeholder: #abbac7;
$textbox--border: #d6e2ea;
$textbox--fulfilled--background: #fdfefe;
$textbox--active--background: #fdfefe;
$textbox--active--border: desaturate(darken($textbox--border, 5%), 5%);
$textbox--active--foreground: $blue;
$textbox--active--placeholder: $textbox--placeholder;

$textbox-repeater--button--background: #fff;
$textbox-repeater--button--background--hover: $main-content--background;
$textbox-repeater--button--border: rgba($background, 0.1);
$textbox-repeater--button--border--hover: rgba($background, 0.2);
$textbox-repeater--button--foreground: rgba($background, 0.3);
$textbox-repeater--button--foreground--hover: rgba($background, 0.5);

$button--primary--foreground: #fff;
$button--primary--background: $blue;
$button--primary--background--hover: darken($button--primary--background, 5%);
$button--primary--border: darken($button--primary--background, 5%);
$button--primary--border--hover: darken($button--primary--border, 5%);

$button--deemphasized--foreground: #66717a;
$button--deemphasized--background: $main-content--background;
$button--deemphasized--foreground--hover: darken($button--deemphasized--foreground, 5%);
$button--deemphasized--background--hover: darken($button--deemphasized--background, 5%);
$button--deemphasized--border: darken($button--deemphasized--background, 5%);
$button--deemphasized--border--hover: darken($button--deemphasized--border, 5%);

// action bar
$action-bar--background: transparent;
$action-bar--foreground: #1b1a1c;
$action-bar--group--border: rgba(#7a8080, 0.15);

$action--foreground: #909799;
$action--foreground--hover: $blue;
$action--background--hover: rgba(#333e4a, 0.05);
$action--border--hover: rgba(#333e4a, 0.15);

// filter bar
$sidebar--foreground: #53718a;
$sidebar--border: rgba(darken($sidebar--foreground, 40%), 0.3);

$client-stats--limits--opacity: 0.15;
$client-stats--speed--fill--top--opacity: 0.2;
$client-stats--speed--fill--bottom--opacity: 0;
$client-stats--speed--stroke--opacity: 0.4;

$client-stats--download--primary--foreground: #2bae6c;
$client-stats--download--secondary--foreground: rgba($client-stats--download--primary--foreground, 0.75);
$client-stats--download--graph--stroke: rgba(#2bae6c, $client-stats--speed--stroke--opacity);
$client-stats--download--graph--fill--top: rgba(#2bae6c, $client-stats--speed--fill--top--opacity);
$client-stats--download--graph--fill--bottom: rgba(#2bae6c, $client-stats--speed--fill--bottom--opacity);
$client-stats--download--limits--line: rgba(lighten($client-stats--download--primary--foreground, 20%), $client-stats--limits--opacity);

$client-stats--upload--primary--foreground: #2387d9;
$client-stats--upload--secondary--foreground: rgba($client-stats--upload--primary--foreground, 0.75);
$client-stats--upload--graph--stroke: rgba(#2387d9, $client-stats--speed--stroke--opacity);
$client-stats--upload--graph--fill--top: rgba(#2387d9, $client-stats--speed--fill--top--opacity);
$client-stats--upload--graph--fill--bottom: rgba(#2387d9, $client-stats--speed--fill--bottom--opacity);
$client-stats--upload--limits--line: rgba(lighten($client-stats--upload--primary--foreground, 20%), $client-stats--limits--opacity);

$client-stats--limits--foreground: $foreground;
$client-stats--limits--icon--hover: $blue;

$search-torrents--base: #091824;
$search-torrents--background: rgba($search-torrents--base, 0.3);
$search-torrents--background--active: $green;
$search-torrents--border: rgba($search-torrents--background, 0.4);
$search-torrents--border--active: $search-torrents--background--active;
$search-torrents--foreground: $sidebar--foreground;
$search-torrents--foreground--active: #1e8954;
$search-torrents--placeholder: rgba($sidebar--foreground, 0.4);
$search-torrents--placeholder--active: #2cad6d;

$search-torrents--icon--foreground: $sidebar--foreground;
$search-torrents--icon--foreground--active: #2c9e65;

$sidebar-filter--foreground: $sidebar--foreground;
$sidebar-filter--foreground--header: rgba($sidebar-filter--foreground, 0.5);
$sidebar-filter--foreground--active: $blue;
$sidebar-filter--foreground--hover: lighten($sidebar-filter--foreground, 15%);

$sidebar-filter--count--foreground: #132532;
$sidebar-filter--count--background: #2b4456;
$sidebar-filter--count--background--active: #3b586d;

// torrents list
$torrent-list--background: #fff;
$torrent-list--border: rgba($background, 0.15);

$torrent--primary--foreground: #333332;
$torrent--primary--foreground--stopped: rgba(#333332, 0.5);
$torrent--primary--foreground--selected: #fff;
$torrent--primary--foreground--selected--stopped: rgba($torrent--primary--foreground--selected, 0.6);
$torrent--secondary--foreground: #807f7e;
$torrent--secondary--foreground--stopped: rgba(#807f7e, 0.5);
$torrent--secondary--foreground--selected: #fff;
$torrent--secondary--foreground--selected--stopped: rgba(#fff, 0.6);
$torrent--tertiary--foreground: #807f7e;
$torrent--tertiary--foreground--stopped: rgba(#807f7e, 0.5);
$torrent--tertiary--foreground--selected: rgba(#fff, 0.9);
$torrent--tertiary--foreground--selected--stopped: rgba(#fff, 0.5);

$torrent--background--hover: #f6f8fa;
$torrent--background--selected: $blue;

$progress-bar--background: #e3e5e5;
$progress-bar--background--selected: rgba(#fff, 0.5);
$progress-bar--background--selected--stopped: rgba(#fff, 0.5);
$progress-bar--fill: $green;

$progress-bar--fill--stopped: #e3e5e5;
$progress-bar--fill--completed: $blue;
$progress-bar--fill--selected: #fff;
$progress-bar--fill--error: #e95779;

// torrent details
$torrent-details--background: saturate(lighten(#0c1b26, 2.5%), 4%); //#162835;
$torrent-details--border: rgba($background, 0.1);

$torrent-details--header--border: rgba(#040d13, 0.3);
$torrent-details--header--name--foreground: #c7dbeb;
$torrent-details--header--tertiary--foreground: #7b9cb4;
$torrent-details--header--progress-bar--track: #2a3e4c;
$torrent-details--header--progress-bar--fill--error: #be2558;

$torrent-details--navigation--border: rgba(#040d13, 0.4);
$torrent-details--navigation--item--background--active: rgba(#349cf4, 0.07);
$torrent-details--navigation--item--foreground--active: #349cf4;
$torrent-details--navigation--item--border--active: #349cf4;
$torrent-details--navigation--background: transparent;

$torrent-details--content--background: rgba(desaturate(#0c1b26, 15%), 0.4);

$torrent-details--directory-tree--parent-directory--foreground: #3a5c74;
$torrent-details--directory-tree--parent-directory--icon--fill: rgba(#3a5c74, 0.5);
$torrent-details--directory-tree--file--hover--background: rgba(#1a2d3c, 0.8);
$torrent-details--directory-tree--file--hover--foreground: #79a7c7;
$torrent-details--directory-tree--file--hover--border: #1f3647;

$torrent-details--table--foreground: #527893;
$torrent-details--table--header: rgba(#527893, 0.5);
$torrent-details--table--header--count--background: rgba(#527893, 0.5);
$torrent-details--table--header--count--foreground: #0c1b26;

$torrent-details--header--icon--default--fill: rgba(#4d6f87, 0.5);

// tansfer data
$transfer-data--download: $green;
$transfer-data--upload: $blue;

// dropdown menu
$dropdown--background: rgba(#fff, 0.98);
$dropdown--foreground: #95a2ad;
$dropdown--container--border: rgba($background, 0.1);
$dropdown--container--shadow: rgba($background, 0.3);
$dropdown--label: #abbac7;
$dropdown--value: #8899a8;
$dropdown--value--active: #4e6a7c;
$dropdown--header--border: rgba($background, 0.05);
$dropdown--item--background--hover: rgba($main-content--background, 0.4);
$dropdown--item--foreground--hover: darken($dropdown--foreground, 10%);
$dropdown--item--foreground--active: $blue;

// modal windows
$modal--background: #f7fafc;
$modal--heading--background: #fff;
$modal--heading--foreground: #5c6e80;
$modal--heading--border: #dde7ed;

$modal--body--foreground: desaturate(lighten($foreground, 20%), 10%);

$modal--tab--foreground: #abbac7;
$modal--tab--foreground--active: $blue;
$modal--tab--border--active: $blue;

$modal--overlay: rgba($background, 0.5);

$modal--content--border: rgba($background, 0.1);
$modal--content--shadow: rgba($background, 0.3);

// directory torrent-details--directory-tree--icon-fill
$directory-tree--filename--foreground: #527893;
$directory-tree--directory--foreground: $directory-tree--filename--foreground;
$directory-tree--directory--foreground--open: #719bb7;

$directory-tree--icon--file: #344b5b;
$directory-tree--icon--folder: rgba(#527893, 0.4);
$directory-tree--icon--folder--active: rgba(#82aac5, 0.5);
$directory-tree--icon--folder--open: rgba(#82aac5, 0.5);

$directory-tree--file-details--foreground: #2b4456;
$directory-tree--file-details--hover--foreground: #527893;

// scrollbars
$scrollbar--thumb--background--inactive: rgba(#1a2f3d, 0.3);
$scrollbar--thumb--background--hover: rgba(#1a2f3d, 0.6);
$scrollbar--thumb--background--inverted--inactive: rgba(#e9eef2, 0.3);
$scrollbar--thumb--background--inverted--hover: rgba(#e9eef2, 0.6);

// loading indicator
$loading-indicator--bar--background: #e9eef2;
$loading-indicator--bar--background--inverse: rgba(#38586d, 0.7);
$loading-indicator--tick--background: rgba($blue, 0.75);
$loading-indicator--tick--background--inverse: rgba($blue, 0.75);

// priority meter
$priority-meter--track--level-0--background: rgba(#436076, 0.2);
$priority-meter--bar--level-0--background: #436076;
$priority-meter--track--level-1--background: rgba($blue, 0.2);
$priority-meter--bar--level-1--background: $blue;
$priority-meter--track--level-2--background: rgba($green, 0.2);
$priority-meter--bar--level-2--background: $green;

// dropzone
$dropzone--background: #e9eff5;
$dropzone--foreground: #53718a;
$dropzone--foreground--hover: darken($dropzone--foreground, 20%);
$dropzone--foreground--dragging: $blue;
$dropzone--border: #d6e2ea;
$dropzone--border--hover: darken($dropzone--border, 20%);
$dropzone--border--dragging: $blue;
$dropzone--browse--foreground: $blue;
$dropzone--icon--fill: #c7d3df;
$dropzone--icon--fill--hover: darken($dropzone--icon--fill, 15%);
$dropzone--icon--fill--dragging: $blue;
