$form--label--foreground: #abbac7;

$textbox--background: #e9eff5;
$textbox--foreground: #53718a;
$textbox--placeholder: #abbac7;
$textbox--border: #d6e2ea;
$textbox--fulfilled--background: #fdfefe;
$textbox--active--background: #fdfefe;
$textbox--active--border: desaturate(darken($textbox--border, 5%), 5%);
$textbox--active--foreground: $blue;
$textbox--active--placeholder: $textbox--placeholder;

$textbox-repeater--button--background: #fff;
$textbox-repeater--button--background--hover: $main-content--background;
$textbox-repeater--button--border: rgba($background, 0.1);
$textbox-repeater--button--border--hover: rgba($background, 0.2);
$textbox-repeater--button--foreground: rgba($background, 0.3);
$textbox-repeater--button--foreground--hover: rgba($background, 0.5);

$button--primary--foreground: #fff;
$button--primary--background: $blue;
$button--primary--background--hover: darken($button--primary--background, 5%);
$button--primary--border: darken($button--primary--background, 5%);
$button--primary--border--hover: darken($button--primary--border, 5%);

$button--deemphasized--foreground: #66717a;
$button--deemphasized--background: $main-content--background;
$button--deemphasized--foreground--hover: darken($button--deemphasized--foreground, 5%);
$button--deemphasized--background--hover: darken($button--deemphasized--background, 5%);
$button--deemphasized--border: darken($button--deemphasized--background, 5%);
$button--deemphasized--border--hover: darken($button--deemphasized--border, 5%);

$modal--body--foreground: desaturate(lighten($foreground, 20%), 10%);

.textbox,
.button,
.checkbox {
  font-size: 0.9em;
}

.textbox,
.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.textbox {
  background: $textbox--background;
  border-radius: 4px;
  border: 1px solid $textbox--border;
  color: $textbox--foreground;
  display: block;
  padding: 10px 15px;
  transition: background 0.25s, border 0.25s, color 0.25s;
  width: 100%;

  &::placeholder {
    color: $textbox--placeholder;
    font-style: italic;
    transition: color 0.25s;
  }

  &:focus {
    background: $textbox--active--background;
    border-color: $textbox--active--border;
    color: $textbox--active--foreground;

    &::placeholder {
      color: $textbox--active--placeholder;
    }
  }

  &.is-fulfilled {
    background: $textbox--fulfilled--background;
  }
}

.button {
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 22px;
  transition: background 0.25s;
  user-select: none;

  &.has-icon {

    .icon {
      height: 16px;
      margin: 0 $spacing-unit * 1/3;
      vertical-align: middle;
      width: 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--deemphasize {
    background: $button--deemphasized--background;
    box-shadow: inset 0 0 0 1px $button--deemphasized--border;
    color: $button--deemphasized--foreground;

    &:hover {
      background: $button--deemphasized--background--hover;
      box-shadow: inset 0 0 0 1px $button--deemphasized--border--hover;
      color: $button--deemphasized--foreground--hover;
    }
  }

  &--primary {
    background: $button--primary--background;
    box-shadow: inset 0 0 0 1px $button--primary--border;
    color: $button--primary--foreground;
    white-space: nowrap;

    &:hover {
      background: $button--primary--background--hover;
      box-shadow: inset 0 0 0 1px $button--primary--border--hover;
    }
  }
}

.checkbox {
  line-height: 1;
  position: relative;

  &:hover {

    .checkbox {

      &__decoy {
        border-color: $blue;
      }
    }
  }

  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:checked {

      & + .checkbox {

        &__decoy {

          .icon {
            display: block;
            fill: $blue;
          }
        }
      }
    }
  }

  &__decoy {
    @extend .textbox;
    background: $white;
    border-radius: 3px;
    display: inline-block;
    height: $spacing-unit * 3/5;
    margin-right: $spacing-unit * 3/10;
    margin-top: -2px;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: $spacing-unit * 3/5;

    .icon {
      fill: transparent;
      height: $spacing-unit * 2/5;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: fill 0.25s;
      transform: translate(-50%, -50%);
      width: $spacing-unit * 2/5;
    }
  }

  &__label {
    color: darken($modal--body--foreground, 10%);
  }
}

.form {

  &__label {
    color: $form--label--foreground;
    display: block;
    font-size: 0.8em;
    line-height: 1;
    margin-bottom: 0.35em;
  }

  &__row {

    & + .form__row {
      margin-top: $spacing-unit;
    }
  }
}
