.textbox,
.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}

.textbox {
  background: $textbox--background;
  border-radius: 4px;
  border: 1px solid $textbox--border;
  color: $textbox--foreground;
  display: block;
  font-size: 0.9em;
  padding: 10px 15px;
  transition: background 0.25s, border 0.25s, color 0.25s;
  width: 100%;

  &::placeholder {
    color: $textbox--placeholder;
    font-style: italic;
    transition: color 0.25s;
  }

  &:focus {
    background: $textbox--active--background;
    border-color: $textbox--active--border;
    color: $textbox--active--foreground;

    &::placeholder {
      color: $textbox--active--placeholder;
    }
  }

}

.button {
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 400;
  padding: 8px 22px;
  transition: background 0.25s;

  &.has-icon {

    .icon {
      height: 16px;
      margin: 0 $spacing-unit * 1/3;
      vertical-align: middle;
      width: 16px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--deemphasize {
    background: $button--deemphasized--background;
    color: $button--deemphasized--foreground;

    &:hover {
      background: $button--deemphasized--background--hover;
      color: $button--deemphasized--foreground--hover;
    }
  }

  &--primary {
    background: $button--primary--background;
    color: $button--primary--foreground;
    white-space: nowrap;

    &:hover {
      background: $button--primary--background--hover;
    }
  }
}

.form {

  &__label {
    color: $form--label--foreground;
    display: block;
    margin-bottom: 0.1em;
  }

  &__row {

    & + .form__row {
      margin-top: 20px;
    }
  }

}
