html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

.flood {
  align-items: stretch;
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1;
  min-width: 200px;
  max-width: 240px;
}

.application {

  &__content {
    display: flex;
    height: 100vh;
    flex: 1 2 auto;
    flex-direction: column;
    position: relative;
  }

  &__panel {
    display: flex;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    &--torrent-list {
      transition: transform 0.5s;
      z-index: 2;

      &.is-open {
        transform: translateX($torrent-details--width);
      }
    }

    &--torrent-details {
      right: 100% - $torrent-details--width;
      width: $torrent-details--width;
      z-index: 1;
    }
  }
}

.torrent {

  &__header {
    flex: 1;
    min-height: 35px;
    max-height: 35px;
  }


  &__list {

    &__wrapper {
      flex: 1;
    }
  }
}

.view {

  &--torrent-list {
    background: #e9eef2;
    box-shadow: -1px 0 $torrent-list--border;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex: 0 1 100%;
  }
}
