html,
body {
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

.flood {
  align-items: stretch;
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1;
  min-width: 200px;
  max-width: 240px;
}

.content {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.action-bar {
  flex: 1;
  min-height: 60px;
  max-height: 60px;
}

.torrent {

  &__header {
    flex: 1;
    min-height: 35px;
    max-height: 35px;
  }

  &__list {
    flex: 5;
    margin: 0 10px;
  }

}
