$blue: #258de5;
$blue--lighter: saturate(lighten($blue, 10%), 100%);
$green: #39ce83;
$red: #e95779;
$white: #fff;

$background: #e9eef2;
$foreground: #53718a;

$sidebar--background: #1d2938;
$main-content--background: #e9eef2;
