@import 'colors';
@import url('http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400');

$font: 'Roboto', sans-srif;

$spacing-unit: 25px;
$torrent-details--width: 85%;
