$sidebar-filter--count--foreground: #132532;
$sidebar-filter--count--background: #354559;
$sidebar-filter--count--background--active: $blue;

.badge {
  background: $sidebar-filter--count--background;
  border-radius: 100px;
  color: $sidebar-filter--count--foreground;
  display: inline-block;
  font-size: 0.6rem;
  font-weight: 800;
  line-height: 1;
  margin-left: 10px;
  padding: 2px 5px;
  transition: background 0.25s;
  vertical-align: middle;
}
