$dropzone--background: $textbox--background;
$dropzone--foreground: $textbox--foreground;
$dropzone--foreground--dragging: $blue;
$dropzone--border: $textbox--border;
$dropzone--border--hover: darken($dropzone--border, 20%);
$dropzone--border--dragging: $blue;
$dropzone--browse--foreground: $blue;
$dropzone--icon--fill: rgba($dropzone--foreground, 0.5);
$dropzone--icon--fill--hover: $blue;
$dropzone--icon--fill--dragging: $blue;

$dropzone--file--foreground: $dropzone--foreground;

.dropzone {
  align-items: center;
  background: $dropzone--background;
  border: 1px dashed $dropzone--border;
  border-radius: 4px;
  color: $dropzone--foreground;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  transition: border 0.25s, color 0.25s;
  width: 100%;
  z-index: 1;

  &:hover {
    border-color: $dropzone--border--hover;

    .dropzone__icon {

      .icon {
        fill: $dropzone--icon--fill--hover;
      }
    }
  }

  &--is-dragging {

    &,
    &:hover {
      border-color: $dropzone--border--dragging;
      color: $dropzone--foreground--dragging;

      .dropzone__icon {

        .icon {
          fill: $dropzone--icon--fill--dragging;
        }
      }
    }
  }

  &__icon {

    .icon {

      &--files {
        fill: $dropzone--icon--fill;
        height: 64px;
        transition: fill 0.25s;
        width: 64px;

        &__file {

          &--right,
          &--left {
            fill-opacity: 0.5;
          }
        }
      }
    }
  }

  &__copy {
    cursor: pointer;
    flex: 1;
    font-size: 0.85em;
    padding: $spacing-unit;
    width: 100%;
  }

  &__browse-button {
    color: $dropzone--browse--foreground;
    text-decoration: underline;
  }

  &__selected-files {
    border-radius: 4px 4px 0 0;
    color: $dropzone--file--foreground;
    font-size: 0.8em;
    margin-bottom: -1px;
    position: relative;
    width: 100%;
    z-index: 2;

    & + .dropzone {
      border-radius: 0 0 4px 4px;
    }

    &__file {

      .icon {

        &--file {
          display: inline-block;
          height: 12px;
          margin-right: 4px;
          margin-top: -1px;
          width: 12px;
        }
      }
    }
  }
}
