$torrent-list--background: #fff;
$torrent-list--border: rgba($sidebar--background, 0.15);
$torrent-list--offset: 10px;

$torrent--primary--foreground: #5b6d7c;
$torrent--primary--foreground--error: #e95779;
$torrent--primary--foreground--stopped: rgba(#333332, 0.5);
$torrent--primary--foreground--selected: #fff;
$torrent--primary--foreground--selected--stopped: rgba($torrent--primary--foreground--selected, 0.6);

$torrent--secondary--foreground: #8899a8;
$torrent--secondary--foreground--stopped: rgba(#8899a8, 0.5);
$torrent--secondary--foreground--selected: #fff;
$torrent--secondary--foreground--selected--stopped: rgba(#fff, 0.6);

$torrent--tertiary--foreground: #8899a8;
$torrent--tertiary--foreground--stopped: rgba(#8899a8, 0.5);
$torrent--tertiary--foreground--selected: rgba(#fff, 0.9);
$torrent--tertiary--foreground--selected--stopped: rgba(#fff, 0.5);

$torrent--alert--foreground: $torrent--tertiary--foreground--stopped;

$torrent--background--hover: #f6f8fa;
$torrent--background--selected: $blue;
$torrent--background--error: #e95779;

$torrent--tags--background: #dce2e6;
$torrent--tags--foreground: #6f7d87;
$torrent--tags--background--selected: #4ea3ea;
$torrent--tags--background--selected--has-error: #ed7994;
$torrent--tags--foreground--selected: #fff;
$torrent--tags--foreground--has-error: #fbe8ec;

$more-info--background: #fff;
$more-info--box-shadow--hue: #1a2f3d;
$more-info--border: $textbox-repeater--button--border;

.torrents {
  display: flex;
  flex: 1 1 100px;
  position: relative;

  &:after {
    background: $torrent-list--background;
    bottom: 0;
    box-shadow: -1px 0 0 0 $torrent-list--border;
    content: '';
    height: auto;
    left: $torrent-list--offset;
    position: absolute;
    right: 0;
    top: 0;
  }

  .loading-indicator {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__alert {
    color: $torrent--alert--foreground;
    text-align: center;

    &__wrapper {
      justify-content: center;
      align-items: center;
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: $torrent-list--offset;
      position: absolute;
      right: 0;
      top: 0;
    }

    &__action {
      margin-top: $spacing-unit * 1/5;
    }
  }
}

.torrent {

  &__list {
    margin: 0 0 0 10px;
    padding: 10px 0;
    position: relative;

    &__wrapper {
      list-style: none;
      max-width: 100%;
      opacity: 1;
      overflow: auto;
      transition: opacity 1s;
      user-select: none;
      z-index: 1;
    }

    &--loading {

      &-enter {
        opacity: 0;
        transition: opacity 1s;

        &-active {
          opacity: 1;
        }
      }

      &-leave {
        opacity: 1;
        transition: opacity 1s;

        &-active {
          opacity: 0;
        }
      }
    }

    &--empty {
      opacity: 0;
    }
  }
}

.torrent {
  cursor: default;
  padding: 10px 20px;
  overflow: hidden;
  position: relative;
  transition: background 0.25s;

  &:hover {
    background: $torrent--background--hover;

    .torrent {

      &__more-info {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(0);
      }
    }
  }

  &.is-selected {
    background: $torrent--background--selected;

    &.has-error {
      background: $torrent--background--error;
    }
  }

  &__more-info {
    background: $more-info--background;
    border-radius: 32px 0 0 32px;
    box-shadow:
      0 0 30px rgba($more-info--box-shadow--hue, 0.11),
      0 0 0 1px rgba($more-info--box-shadow--hue, 0.07);
    height: 32px;
    margin-top: -16px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    right: -5px;
    top: 50%;
    transform: translateX(15px);
    transition: background 0.25s, box-shadow 0.25s, opacity 0.25s, transform 0.25s;
    width: 32px;
    z-index: 1;

    .icon {
      fill: rgba($foreground, 0.5);
      position: absolute;
      height: 16px;
      left: 16px;
      width: 16px;
    }

    &:hover {
      background: $white;
      box-shadow:
        0 0 30px rgba($more-info--box-shadow--hue, 0.2),
        0 0 0 1px rgba($more-info--box-shadow--hue, 0.1);

      .icon {
        fill: $blue;
      }
    }
  }
}

.torrent {

  &__details {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    list-style: none;

    &--primary,
    &--secondary,
    &--tertiary {
      transition: color 0.25s;
    }

    &--primary {
      color: $torrent--primary--foreground;
      flex: 1 1 auto;
      line-height: 1.3;
      white-space: nowrap;

      .is-stopped & {
        color: $torrent--primary--foreground--stopped;
      }

      .has-error & {
        color: $torrent--primary--foreground--error;
      }

      .is-selected & {
        color: $torrent--primary--foreground--selected;
      }

      .is-selected.is-stopped & {
        color: $torrent--primary--foreground--selected--stopped;
      }
    }

    &--secondary {
      color: $torrent--secondary--foreground;
      flex: 0 0 auto;
      font-size: 0.75em;
      font-weight: 500;
      margin-right: $spacing-unit * 2/5;
      text-align: right;
      white-space: nowrap;
      vertical-align: baseline;

      &:last-child {
        margin-right: 0;
      }

      .unit {
        font-weight: 400;
      }

      .is-stopped & {
        color: $torrent--secondary--foreground--stopped;
      }

      .is-selected & {
        color: $torrent--secondary--foreground--selected;
      }

      .is-selected.is-stopped & {
        color: $torrent--secondary--foreground--selected--stopped;
      }
    }

    &--tertiary {
      color: $torrent--tertiary--foreground;
      display: flex;
      font-size: 0.7em;
      margin: 1px 0;

      li {
        display: inline-block;
        margin-right: $spacing-unit * 2/5;
        white-space: nowrap;

        &:last-child {
          margin-right: 0;
        }

        .icon {
          fill-opacity: 0.75;
        }
      }

      .is-stopped & {
        color: $torrent--tertiary--foreground--stopped;
      }

      .is-selected & {
        color: $torrent--tertiary--foreground--selected;
      }

      .is-selected.is-stopped & {
        color: $torrent--tertiary--foreground--selected--stopped;
      }

      &--stats {
        flex: 1 0 auto;
      }

      &--tags {
        background: $torrent--tags--background;
        color: $torrent--tags--foreground;
        flex: 0 1 auto;
        margin-left: auto;
        margin-right: 0;
        transition: background 0.25s, color 0.25s, opacity 0.25s;

        .is-stopped & {
          opacity: 0.5;
        }

        .is-selected & {
          background: $torrent--tags--background--selected;
          color: $torrent--tags--foreground--selected;
        }

        .is-selected.has-error & {
          background: $torrent--tags--background--selected--has-error;
          color: $torrent--tags--foreground--has-error;
        }

        .is-selected.is-stopped & {
          opacity: 0.6;
        }

        li {
          margin-right: $spacing-unit * 3/10;
        }
      }
    }

    &__label {
      margin-right: 0.5em;
      opacity: 0.5;
    }

    &__icon {
      display: inline-block;
      padding-right: 5px;
      transform: translateY(1px);
      vertical-align: baseline;

      .icon {
        display: block;
        fill: currentColor;
        height: 12px;
        opacity: 0.66;
        width: 12px;
      }
    }

    &--eta {
      opacity: 0;
      transition: color 0.25s, opacity 1s, visibility 1s;
      visibility: hidden;

      .torrent__details--segment {
        margin-right: 0.25em;

        &:last-child {
          margin-right: 0;
        }
      }

      .is-active & {
        opacity: 1;
        visibility: visible;
      }
    }

    &--completed {
      width: 90px;
    }

    &--uploaded {
      width: 55px;
    }

    &--size {
      width: 55px;
    }

    &--added {
      width: 80px;
    }

    &--peers {
      width: 70px;
    }

    &--ratio {
      width: 50px;
    }

    &--seeds {
      width: 70px;
    }

    &--speed {

      &--download {

        .is-active & {
          color: $green;
        }
      }

      &--upload {

        .is-active & {
          color: $blue;
        }
      }

      &--download,
      &--upload {
        transition: color 0.25s;

        .is-selected & {
          color: #fff;
        }

        .is-stopped & {
          color: $torrent--tertiary--foreground--stopped;
        }

        .is-selected.is-stopped & {
          color: $torrent--tertiary--foreground--selected--stopped !important;
        }
      }
    }
  }
}

.view {

  &--torrent-list {
    background: #e9eef2;
    box-shadow: -1px 0 $torrent-list--border;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex: 0 1 100%;
  }
}
