.directory-tree {

  .icon {
    display: inline-block;
    height: 14px;
    margin-right: 5px;
    vertical-align: top;
    width: 14px;
  }

  &__node {
    line-height: 1.75;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--directory {
      color: $directory-tree--directory--foreground;
      cursor: pointer;
      font-weight: 500;
      transition: color 0.125s;

      &:active {
        color: $directory-tree--directory--foreground--active;
      }

      .icon {
        fill: $directory-tree--icon--folder;
        position: relative;

      }
    }

    &--file {
      color: $directory-tree--filename--foreground;
      line-height: 1.5;

      .icon {
        fill: $directory-tree--icon--file;
      }
    }

    &--file-list {
      margin-bottom: 3px;
    }
  }

  &__parent-directory {
    color: $torrent-details--directory-tree--directory;
    font-size: 0.85em;

    .icon {
      fill: $torrent-details--directory-tree--icon-fill;
      opacity: 0.75;
    }
  }

  &__tree {
    padding-left: 1px;

    .directory-tree__tree {
      padding-left: 3px;
    }
  }
}
