.directory-tree {

  .icon {
    display: inline-block;
    fill: $torrent-details--directory-tree--icon-fill;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
  }

  &__node {
    line-height: 1.2;
    overflow: hidden;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--directory {
      cursor: pointer;
    }
  }

  &__parent-directory {
    color: $torrent-details--directory-tree--directory;
    font-size: 0.85em;

    .icon {
      opacity: 0.75;
    }
  }

  &__tree {
    padding-left: 1px;

    .directory-tree__tree {
      padding-left: 3px;
    }
  }
}
