.file-list {

  .icon {
    display: inline-block;
    fill: $torrent-details--file-list--icon-fill;
    height: 14px;
    margin-right: 5px;
    vertical-align: middle;
    width: 14px;
  }

  &__node {
    line-height: 1.2;
    margin-bottom: 5px;
    word-wrap: break-word;

    &--file {
      padding-left: 5px;
    }
  }

  &__parent-directory {
    color: $torrent-details--file-data--directory;
    font-size: 0.85em;

    .icon {
      opacity: 0.75;
    }
  }

  &__branch {

    & + .file-list__branch {
      margin-top: 10px;
    }

    @for $i from 1 through 10 {

      &--depth-#{$i} {
        padding-left: ($i - 1) * 15px;
      }
    }
  }
}
