.modal {
  background: $modal--overlay;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.5s;
  width: 100%;
  z-index: 100;

  &__content {
    background: $modal--background;
    border-radius: 5px;
    box-shadow:
      0 0 0 1px $modal--content--border,
      0 0 35px $modal--content--shadow;
    left: 50%;
    max-width: 100%;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
  }
}

.modal {

  &__header {
    margin-bottom: 20px;

    h1 {
      color: $modal--header--foreground;
      font-size: 1.35em;
      font-weight: 400;
    }
  }
}

.modal {

  &__animation-enter {
    opacity: 0;
  }

  &__animation-enter-active {
    opacity: 1;
  }

  &__animation-leave {
    opacity: 1;
    pointer-events: none;
  }

  &__animation-leave-active {
    opacity: 0;
  }
}
