.torrent-details {
  background: $torrent-details--background;
  bottom: 0;
  box-shadow: -1px 0 0 $torrent-details--border;
  font-size: 0.8em;
  left: 0;
  min-width: 400px;
  overflow: auto;
  padding: $spacing-unit;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  &__section {
    margin-bottom: $spacing-unit;
  }

  &__transfer-data {
    font-weight: 500;

    .transfer-data {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .icon {
      height: 12px;
      width: 12px;
    }
  }

  &__table {
    width: 100%;

    &__heading {
      color: $torrent-details--table--header;
      font-size: 0.7em;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      th {
        font-weight: 500;
      }

      &__count {
        color: $torrent-details--table--header--count;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}
