$form--label--foreground: desaturate(lighten(#5c7087, 3%), 3%);
$form--label--error--foreground: $red;

$form--element--border-radius: 4px;

$textbox--background: #242b36;
$textbox--foreground: #5e728c;
$textbox--error--foreground: $red;
$textbox--placeholder: #424d5e;
$textbox--border: #1a2028;
$textbox--fulfilled--background: $textbox--background;
$textbox--padding--vertical: 10px;
$textbox--padding--horizontal: 15px;
$textbox--active--background: $textbox--background;
$textbox--active--border: $blue;
$textbox--active--foreground: $blue;
$textbox--active--placeholder: $textbox--placeholder;
$textbox--error--border: $red;
$textbox--error--placeholder: rgba($red, 0.5);
$textbox--selection--foreground: #1a2028;
$textbox--selection--background: $blue--lighter;

$button--primary--foreground: #fff;
$button--primary--background: $blue;
$button--primary--background--hover: lighten($button--primary--background, 4%);
$button--primary--border: $textbox--border;
$button--primary--border--hover: $button--primary--border;
$button--primary--inverse--border: darken($blue, 8%);
$button--primary--inverse--border--hover: darken($blue, 6%);

$button--deemphasized--foreground: #6e8199;
$button--deemphasized--background: #343e4c;
$button--deemphasized--foreground--hover: lighten($button--deemphasized--foreground, 10%);
$button--deemphasized--background--hover: lighten($button--deemphasized--background, 2.5%);
$button--deemphasized--border: $textbox--border;
$button--deemphasized--border--hover: $button--deemphasized--border;

$button--deemphasized--inverse--background: #f6f8fa;
$button--deemphasized--inverse--border: #e4e9ed;
$button--deemphasized--inverse--foreground: #9aa8b3;
$button--deemphasized--inverse--background--hover: #e4e9ed;
$button--deemphasized--inverse--border--hover: #d8e0e5;
$button--deemphasized--inverse--foreground--color: #7b8b97;

$button--padding--vertical: $textbox--padding--vertical;
$button--padding--horizontal: $spacing-unit;

$checkbox--background: $button--deemphasized--background;
$checkbox--background--hover: lighten($checkbox--background, 5%);
$checkbox--border: $textbox--border;
$checkbox--border--hover: $checkbox--border;

$dropdown--error--border: $textbox--error--border;
$dropdown--error--border--hover: $textbox--error--border;
$dropdown--error--foreground: $textbox--error--border;

$modal--body--foreground: desaturate(lighten($foreground, 20%), 10%);

$form--section--heading--margin: $spacing-unit * 2/5;
$form--section--margin: $spacing-unit;
$form--row--margin: $spacing-unit * 3/5;
$form--column--margin: $spacing-unit * 3/10;

.textbox,
.button,
.checkbox {
  font-size: 0.9em;
}

.textbox,
.button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  transition: background 0.25s, border 0.25s, color 0.25s;
}

.textbox {
  background: $textbox--background;
  border-radius: $form--element--border-radius;
  border: 1px solid $textbox--border;
  color: $textbox--foreground;
  display: block;
  padding: $textbox--padding--vertical $textbox--padding--horizontal;
  width: 100%;

  &::placeholder {
    color: $textbox--placeholder;
    font-style: italic;
    transition: color 0.25s;
  }

  &::selection {
    color: $textbox--selection--foreground;
    background: $textbox--selection--background;
  }

  &:focus {
    background: $textbox--active--background;
    border-color: $textbox--active--border;
    color: $textbox--active--foreground;

    &::placeholder {
      color: $textbox--active--placeholder;
    }
  }

  &--open {
    border: none;
    border-radius: 0;
    padding: $textbox--padding--vertical 0;
  }

  &.is-fulfilled {
    background: $textbox--fulfilled--background;
  }
}

.button {
  background: transparent;
  border: none;
  border-radius: $form--element--border-radius;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  line-height: normal;
  padding: $button--padding--vertical $button--padding--horizontal;
  user-select: none;

  &.has-icon {

    .icon {
      height: 16px;
      margin: 0 $spacing-unit * 1/3 0 0;
      max-height: 1em;
      max-width: 1em;
      vertical-align: middle;
      width: 16px;
    }
  }

  &--deemphasize {
    background: $button--deemphasized--background;
    border: 1px solid $button--deemphasized--border;
    color: $button--deemphasized--foreground;

    &:hover {
      background: $button--deemphasized--background--hover;
      border-color: $button--deemphasized--border;
      color: $button--deemphasized--foreground--hover;
    }

    &.button {

      &--inverse {
        background: $button--deemphasized--inverse--background;
        border-color: $button--deemphasized--inverse--border;
        color: $button--deemphasized--inverse--foreground;

        &:hover {
          background: $button--deemphasized--inverse--background--hover;
          border-color: $button--deemphasized--inverse--border--hover;
          color: $button--deemphasized--inverse--foreground--color;
        }
      }
    }
  }

  &--primary {
    background: $button--primary--background;
    border: 1px solid $button--primary--border;
    color: $button--primary--foreground;
    white-space: nowrap;

    &:hover {
      background: $button--primary--background--hover;
      border-color: $button--primary--border--hover;
    }

    &.button {

      &--inverse {
        border-color: $button--primary--inverse--border;

        &:hover {
          border-color: $button--primary--inverse--border--hover;
        }
      }
    }
  }

  &--small {
    padding: 7.5px 15px;
    font-size: 0.75em;
  }
}

.checkbox {
  cursor: pointer;
  line-height: 1;
  position: relative;

  &:hover {

    .checkbox {

      &__decoy {

        &:after {
          background: $checkbox--background--hover;
          border-color: $checkbox--border--hover;
        }
      }
    }
  }

  input[type="checkbox"] {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &:checked {

      & + .checkbox {

        &__decoy {

          .icon {
            display: block;
            fill: $blue;
          }
        }
      }
    }
  }

  &__decoy {
    display: inline-block;
    height: $spacing-unit * 8/10;
    margin-right: $spacing-unit * 3/10;
    margin-top: -2px;
    position: relative;
    vertical-align: middle;
    width: $spacing-unit * 8/10;

    &:after {
      @extend .textbox;
      background: $checkbox--background;
      border: 1px solid $checkbox--border;
      border-radius: 2px;
      content: '';
      display: block;
      height: inherit;
      padding: 0;
      width: inherit;
    }

    .icon {
      fill: transparent;
      height: $spacing-unit * 2/5;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: fill 0.25s;
      transform: translate(-50%, -50%);
      width: $spacing-unit * 2/5;
      z-index: 1;
    }
  }

  &__label {
    color: darken($modal--body--foreground, 10%);
  }
}

.form {
  position: relative;

  &__label {
    color: $form--label--foreground;
    display: block;
    font-size: 0.8em;
    height: 1em;
    line-height: 1;
    margin-bottom: 0.35em;
    position: relative;
    transition: color 0.25s;

    .tooltip {

      &__wrapper {
        height: 1em;
        margin-left: $spacing-unit * 1/10;
        margin-top: -2px;
        line-height: inherit;
        vertical-align: middle;
      }
    }

    .icon {
      fill: currentColor;
      height: 1em;
      width: 1em;
    }
  }

  &__section {

    &__heading {
      margin-bottom: $form--section--heading--margin;

      & + .form__section__sub-heading {
        margin-bottom: $form--section--heading--margin;
        margin-top: $form--section--heading--margin * -1;
      }
    }

    & + .form__section {
      margin-top: $form--section--margin;
    }
  }

  &__row {
    display: flex;

    & + .form__row {
      margin-top: $form--row--margin;
    }
  }

  &__column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    margin: 0 $form--column--margin;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--auto {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      max-width: 50%;
    }

    &--half,
    &--small {

      // For small columns which are the only column in the row, keep the
      // column's margin.
      &:first-child {

        &:last-child {
          margin-right: $form--column--margin;
        }
      }
    }

    &--half {
      max-width: 50%;
    }

    &--fourth {
      flex-basis: 25%;
      max-width: 25%;
      min-width: 25%;
    }

    &--small {
      max-width: 125px;
    }

    &--unlabled {
      justify-content: center;
      padding-top: $spacing-unit * 3/5;
    }

    &--has-error {

      .form {

        &__label {
          color: $form--label--error--foreground;
        }
      }

      .textbox {
        border-color: $textbox--error--border;
        color: $textbox--error--foreground;

        &::placeholder {
          color: $textbox--error--placeholder;
        }
      }

      & > .dropdown {

        .dropdown {

          &__trigger {

            .dropdown {

              &__button {
                border-color: $dropdown--error--border;

                &:hover {
                  border-color: $dropdown--error--border--hover;
                }

                .dropdown {

                  &__value {
                    color: $dropdown--error--foreground;
                  }
                }
              }
            }
          }

          &__value {

            &:after {
              border-top-color: $dropdown--error--foreground;
            }
          }
        }
      }
    }

    & > .dropdown {

      & > .dropdown {

        &__trigger {

          .dropdown {

            &__button {
              @extend .button--deemphasize;
              border-radius: $form--element--border-radius;
            }
          }
        }
      }
    }

    .dropdown {

      &__button {
        padding-top: 7px;
      }
    }

    .checkbox {
      display: inline-block;
      flex: 0 0 auto;
    }
  }

  &__actions {
    margin-top: $spacing-unit;
  }
}
