@import url('//fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400');

html {
  color: $foreground;
  font-family: $font;
  font-size: 16px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
}

.unit {
  display: inline-block;
  font-size: 0.8em;
  font-style: normal;
  margin-bottom: 0.1em;
  opacity: 0.8;
}

.text-overflow {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
}

p {
  margin-bottom: $spacing-unit * 3/5;
}
