$blue: #258de5;
$green: #39ce83;

$background: #e3e5e5;
$foreground: #686469;

// form elements
$form--label--foreground: #979999;

$textbox--background: rgba(#232424, 0.4);
$textbox--foreground: #979999;
$textbox--placeholder: rgba(#979899, 0.3);
$textbox--border: rgba(#202121, 0.85);
$textbox--active--background: rgba(#232424, 0.6);
$textbox--active--border: #28679c;
$textbox--active--foreground: $blue;
$textbox--active--placeholder: rgba(lighten($blue, 10%), 0.4);

$button--primary--foreground: #fff;
$button--primary--background: $green;

// action bar
$action-bar--background: rgba(#fff, 0.75);
$action-bar--foreground: #1b1a1c;
$action-bar--group--border: rgba(#7a8080, 0.15);

$action--foreground: #909799;
$action--foreground--hover: $blue;
$action--background--hover: rgba(#333e4a, 0.05);
$action--border--hover: rgba(#333e4a, 0.15);

// filter bar
$filter-bar--foreground: #626466;
$filter-bar--border: #161316;

$client-stats--primary: #333332;
$client-stats--secondary: #999997;
$client-stats--icon: #8c8c8a;

$client-stats--download--primary--foreground: #2387d9;
$client-stats--download--secondary--foreground: rgba($client-stats--download--primary--foreground, 0.75);
$client-stats--download--graph--stroke: rgba(#2387d9, 0.4);
$client-stats--download--graph--fill--top: rgba(#2387d9, 0.2);
$client-stats--download--graph--fill--bottom: rgba(#2387d9, 0);

$client-stats--upload--primary--foreground: #2bae6c;
$client-stats--upload--secondary--foreground: rgba($client-stats--upload--primary--foreground, 0.75);
$client-stats--upload--graph--stroke: rgba(#2bae6c, 0.4);
$client-stats--upload--graph--fill--top: rgba(#2bae6c, 0.2);
$client-stats--upload--graph--fill--bottom: rgba(#2bae6c, 0);

$client-stats--limits--foreground: #999997;
$client-stats--limits--foreground--hover: darken($client-stats--limits--foreground, 20%);
$client-stats--limits--icon--hover: $blue;

$search-torrents--background: #d9ddde;
$search-torrents--background--active: #39ce83;
$search-torrents--border: rgba(#babfc2, 0.5);
$search-torrents--border--active: #33b574;
$search-torrents--foreground: #625e66;
$search-torrents--foreground--active: #1e8954;
$search-torrents--placeholder: rgba(#909799, 0.7);
$search-torrents--placeholder--active: #2cad6d;

$search-torrents--icon--foreground: #8a9ca6;
$search-torrents--icon--foreground--active: #2c9e65;

$status-filter--foreground: #626466;
$status-filter--foreground--header: #b5b5b3;
$status-filter--foreground--active: $blue;
$status-filter--foreground--hover: darken($status-filter--foreground, 15%);

// torrents list
$torrent-list--background: #fff;
$torrent-list--border: rgba(#000, 0.1);

$torrent--primary--foreground: #333332;
$torrent--primary--foreground--stopped: rgba(#333332, 0.5);
$torrent--primary--foreground--selected: #fff;
$torrent--primary--foreground--selected--stopped: rgba($torrent--primary--foreground--selected, 0.6);
$torrent--secondary--foreground: #807f7e;
$torrent--secondary--foreground--stopped: rgba(#807f7e, 0.5);
$torrent--secondary--foreground--selected: #fff;
$torrent--secondary--foreground--selected--stopped: rgba(#fff, 0.6);
$torrent--tertiary--foreground: #807f7e;
$torrent--tertiary--foreground--stopped: rgba(#807f7e, 0.5);
$torrent--tertiary--foreground--selected: rgba(#fff, 0.9);
$torrent--tertiary--foreground--selected--stopped: rgba(#fff, 0.5);

$torrent--background--hover: #f4f5f5;
$torrent--background--selected: $blue;

$progress-bar--background: #e3e5e5;
$progress-bar--background--selected: rgba(#fff, 0.5);
$progress-bar--background--selected--stopped: rgba(#fff, 0.5);
$progress-bar--fill: #39ce83;

$progress-bar--fill--stopped: #e3e5e5;
$progress-bar--fill--completed: $blue;
$progress-bar--fill--selected: #fff;

// dropdown menu
$dropdown--background: #2c2d2e;
$dropdown--foreground: #979899;
$dropdown--container--border: #d4d3d1;
$dropdown--label: $status-filter--foreground--header;
$dropdown--value: #807f7e;
$dropdown--header--background: #282929;
$dropdown--header--foreground: #e3e5e5;
$dropdown--header--border: #383b3f;
$dropdown--item--background--hover: #3d3f42;
$dropdown--item--foreground--hover: #bdbebf;

// modal windows
$modal--background: #2f2c30;
$modal--overlay: rgba(#161516, 0.9);
$modal--header--foreground: #aaa8ab;
