name: build

on:
  pull_request:
    branches:
      - master

jobs:
  package:
    uses: ./.github/workflows/package.yml

  docker:
    needs: package
    uses: ./.github/workflows/build-docker.yml
    with:
      push: false
      flood-version: pr-${{ github.event.pull_request.number || 'check' }}
      flood-tags: |
        jesec/flood:pr-${{ github.event.pull_request.number || 'check' }}
      rtorrent-tags: |
        jesec/rtorrent-flood:pr-validate
      platforms: linux/amd64

  pkg:
    needs: package
    uses: ./.github/workflows/build-binary.yml
    with:
      upload-name: pkg-binaries-pr

  debian:
    needs: package
    uses: ./.github/workflows/build-debian.yml
