name: build

permissions:
  contents: read

on:
  pull_request:
    branches:
      - master

jobs:
  package:
    uses: ./.github/workflows/package.yml

  docker:
    needs: package
    uses: ./.github/workflows/build-docker.yml
    with:
      push: false
      flood-version: pr-${{ github.event.pull_request.number || 'check' }}
      flood-tags: |
        jesec/flood:pr-${{ github.event.pull_request.number || 'check' }}
      rtorrent-tags: |
        jesec/rtorrent-flood:pr-validate
      platforms: linux/amd64,linux/arm64

  pkg:
    needs: package
    uses: ./.github/workflows/build-binary.yml
    with:
      upload-name: pkg-binaries-pr

  docker-distroless:
    needs: pkg
    uses: ./.github/workflows/build-docker-distroless.yml
    with:
      push: false
      binary-artifact: pkg-binaries-pr
      flood-version: pr-${{ github.event.pull_request.number || 'check' }}
      flood-tags: |
        jesec/flood:pr-${{ github.event.pull_request.number || 'check' }}-distroless
      rtorrent-tags: |
        jesec/rtorrent-flood:pr-${{ github.event.pull_request.number || 'check' }}-distroless
      platforms: linux/amd64,linux/arm64

  debian:
    needs: package
    uses: ./.github/workflows/build-debian.yml
