name: Check

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check-real:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        node: ['22', '24']
        check: [check-source-formatting, check-types, lint]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile
      - run: npm run ${{ matrix.check }}

  check:
    # so we do not need to update GitHub repo config
    runs-on: ubuntu-latest
    needs:
      - check-real
    steps:
      - run: echo ok
