name: Test backend

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-backend:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        node: ['18', '20']
      fail-fast: false

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - run: sudo add-apt-repository -y ppa:qbittorrent-team/qbittorrent-stable
      - run: sudo add-apt-repository -y ppa:transmissionbt/ppa
      - run: sudo apt-get install -y qbittorrent-nox transmission-daemon

      - run: |
          wget https://github.com/jesec/rtorrent/releases/latest/download/rtorrent-linux-amd64.deb
          sudo dpkg -i rtorrent-linux-amd64.deb

      - run: npm ci
      - run: npm test || npm test || npm test

      - uses: codecov/codecov-action@v3
        if: matrix.node == 20

      - run: |
          sudo apt-get remove --purge -y rtorrent
          sudo apt-get install -y rtorrent

      - run: npm test -- --selectProjects rtorrent || npm test -- --selectProjects rtorrent || npm test -- --selectProjects rtorrent
        if: matrix['node'] == '20'
